<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Loja de Instrumentos</title>
    <link rel="stylesheet" href="../resources/styles/default.css">
</head>
<body style="align-items: center; justify-items: center;">
    <h1>Loja de Instrumentos</h1>

    <div class="default_flex_column">
        <h2>Instrumentos</h2>
        <div class="nav-links">
            <a href="./instrument/InstrumentRegistry.php">Cadastrar instrumento</a>
            <a href="./instrument/InstrumentList.php">Listar instrumentos</a>
        </div>
        <h2>Compras</h2>
        <div class="nav-links">
            <a href="./transaction/TransactionRegistry.php">Nova compra</a>
            <a href="./transaction/TransactionList.php">Histórico de compras</a>
        </div>
        <h2>Pessoas</h2>
        <div class="nav-links">
            <a href="./person/PersonRegistry.php">Cadastrar pessoa</a>
            <a href="./person/PersonList.php">Listar pessoas</a>
        </div>
        <h2>Avisos</h2>
        <div class="nav-links">
            <a href="./notice/NoticeRegistry.php">Cadastrar aviso</a>
            <a href="./notice/NoticeList.php">Listar avisos</a>
        </div>
    </div>
</body>
</html>